.flows_Valentins-MacBook-Pro.local.json.backup
[{"id":"acc10c96.8b114","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c680da8d.822998","type":"sensor","z":"acc10c96.8b114","deviceName":"test","device":"e371c2ce796447da9b42b09607162863","sensor":"temp","x":240,"y":160,"wires":[["a8e125de.e39668"]]},{"id":"9e2566e8.e1ef48","type":"actor","z":"acc10c96.8b114","deviceName":"test","device":"e371c2ce796447da9b42b09607162863","actor":"led","x":540,"y":340,"wires":[]},{"id":"9d3b278b.a03408","type":"debug","z":"acc10c96.8b114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"dfcbc4ca.d7bad8","type":"inject","z":"acc10c96.8b114","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"value\": 12, \"type\": \"int\"}","payloadType":"json","x":190,"y":340,"wires":[["9e2566e8.e1ef48"]]},{"id":"a8e125de.e39668","type":"function","z":"acc10c96.8b114","name":"","func":"\nmsg.payload.value *= 2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":140,"wires":[["9d3b278b.a03408","9e2566e8.e1ef48"]]}]