.flows_Valentins-MacBook-Pro.local.json.backup
[{"id":"acc10c96.8b114","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1bcb7894.fca1d7","type":"sensor","z":"acc10c96.8b114","deviceName":"device3","device":"d49d764bb0ec4777948cd6da2253e05d","sensor":"button","x":180,"y":300,"wires":[["77914b56.1c0e54"]]},{"id":"77914b56.1c0e54","type":"debug","z":"acc10c96.8b114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":280,"wires":[]},{"id":"74bfb721.3e9c48","type":"actor","z":"acc10c96.8b114","deviceName":"device1","device":"878d035806ba47659f0324069e70dc33","actor":"fan","x":660,"y":480,"wires":[]},{"id":"51019b1c.29a384","type":"inject","z":"acc10c96.8b114","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"type\": \"int\", \"value\": 2}","payloadType":"json","x":230,"y":460,"wires":[["74bfb721.3e9c48"]]}]